.selectedList {
  margin-top: 20px;

  .selectedListContent {
    display: flex;
    justify-content: center;

    .selectedListItems {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .selectedListNone {
      display: flex;
      flex-direction: column;

      .drawerTotalButtonBlock {
        margin-top: 20px;
        
        .drawerTotalButton {
          height: 55px;
          width: 325px;
          background-color: #9DD458;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          font-size: 20px;
          color: #fff;
        }
      }
  
      .selectedTotalTextBlock {
        color: #808080;
        text-align: center;
        margin-top: 5px;
      }

      .selectedListNoneTitle {
        color: #000;
        font-weight: 600;
        margin-top: 20px;
      }
    }
  }
}