.header {
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.04);
  padding: 40px;
  border-bottom: 1px #f2f2f2 solid;
  border-top: 1px #f2f2f2 solid;

  .headerContent {
    display: flex;
    justify-content: space-between;

    .headerLeftBlock {
      display: flex;
      align-items: center;
      
      .headerLogo {
        margin-right: 15px;
        width: 40px;
        height: 40px;
      }
      .headerTitleBlock {

        .headerTitle {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-weight: 600;
          font-size: 22px;
        }

        .headerText {
          font-size: 14px;
        }
      }
    }
    .headerRightBlock {
      display: flex;
      align-items: center;

      .headerIconBlock {
        display: flex;
        margin-right: 20px;

        .headerIconCard {
          margin-right: 5px;
          width: 18px;
          height: 18px;
          cursor: pointer;
        }
        .headerTotalPrice {
          cursor: pointer;
        }

        .headerIconHeart {
          margin-right: 15px;
          width: 18px;
          height: 18px;
          cursor: pointer;
        }

        .headerIconUser {
          margin-right: 15px;
          width: 18px;
          height: 18px;
          cursor: pointer;
        }
      }
    }
  }
}