.accountInfo {
  margin-top: 40px;

  .accountInfoContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .accountLogoBlock {

      .accountLogo {
        width: 180px;
        height: 180px;
        border-radius: 50px;
      }
    }

    .accountMainInfoBlock {
      display: flex;
      flex-direction: column;

      .accountLoginBlock {

        .accountLogin {
          font-size: 24px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
      }

      .accountDescriptionBlock {
        margin-top: 10px;

        .accountDescription {
          font-size: 20px;
        }
      }
    }
  }
}