.drawerTotal {
  display: flex;
  justify-content: center;

  .drawerTotalContent {
    margin: 25px;

    .drawerTotalResultBlock {
      
    }
    .drawerTotalTaxBlock {
      margin-top: 10px;
    }
    .drawerTotalButtonBlock {
      margin-top: 20px;
      
      .drawerTotalButton {
        height: 55px;
        width: 325px;
        background-color: #9DD458;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 20px;
        color: #fff;
      }
    }

    .drawerTotalText {
      color: #808080;
      text-align: center;
    }
  }
}