.entryModal {
  position: absolute;
  background-color: rgba(52, 58, 64, 0.6);
  color:#fff;
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s;
  z-index: -1;
}

.active {
  position: fixed;
  top: 0;
  background-color: rgba(52, 58, 64, 0.6);
  width: 100vw;
  height: 100vh;
  color:#fff;
  transition: 0.6s;
  opacity: 1;
  z-index: 2;

  .entryModalContent {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    pointer-events: all;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 480px;
    height: 320px;
    border-radius: 10px;
    border: 1px #fff solid;

    box-shadow:
    0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;

    @media (max-width: 767px) {
      width: 380px;
    }

    .entryTitleBlock {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-top: 20px;

      .entryTitle {
        font-size: 24px;
        color: #000;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
      .entryModalClose {
        color: #c42525;
        text-decoration: none;
        font-size: 27px;
        cursor: pointer;
      }
    }

    .entryLoginBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      .entryLabel {
        font-size: 12px;
        color: #404040;
        font-weight: 600;
        margin-bottom: 3px;
      }
            
      .entryInput {
        width: 416px;
        height: 40px;
        border-radius: 5px;
        background-color: #ebebeb;
        color: #000;
        border: 1px #999999 solid;

        @media (max-width: 767px) {
          width: 316px;
        }
      }
    }

    .entryContinueBlock {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .entryContinueInput {
        width: 320px;
        padding: 8px 0px 8px 0px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        background-color: #FA5252;
        cursor: pointer;

        
      }
    }
  

    .entryRedirectBlock {
      display: flex;
      justify-content: space-around;

      .entryBackLabel {
        margin-top: 20px;
        font-size: 12px;
        color: #000;
        font-weight: 600;
        margin-bottom: 3px;
  
        .entryQue {
          margin-left: 10px;
          text-decoration: none;
          color:royalblue;
          cursor: pointer;
  
        }
        .entryQue:hover {
          border-bottom: 1px solid;
          color:royalblue;
        }
      }
    }
  }
}