.card {
  border: 1px solid #f2f2f2;
  width: 210px;
  border-radius: 40px;
  margin: 20px;
  transition: 0.5s;

  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .cardFavoritesBlock {
      display: flex;
      justify-content: start;
      width: 100%;

      .cardFavoritesIcon {
        width: 18px;
        height: 18px;
        margin: 10px;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s;
      }
      .cardFavoritesIcon:hover {
        background-color: indianred;
      }
    }

    .cardImageBlock {

      .cardImage {
        width: 112px;
        height: 112px;
      }
    }

    .cardTitleBlock {

      .cardTitle {
        text-align: justify;
      }
    }
    .cardHandleBlock {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-top: 5px;

      .cardPriceBlock {

        .cardPrice {
          font-weight: 500;
        }
        .cardPriceValue {
          font-weight: 600;
        }
      }

      .cardButtonBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #f2f2f2;
        border-radius: 20px;
        width: 40px;
        height: 40px;     

        .cardAdd {     
          font-size: 24px;
          cursor: pointer;
        }
      }
    }
  }
}

.card:hover {
  box-shadow: 0px 14px 30px rgba(0,0,0,0.36);
  transform: translateY(-5px);
}