.registerModal {
  position: absolute;
  background-color: rgba(52, 58, 64, 0.6);
  color:#fff;
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: 0.6s;
  z-index: -1;
}

.active {
  position: fixed;
  top: 0;
  background-color: rgba(52, 58, 64, 0.6);
  width: 100vw;
  height: 100vh;
  color:#fff;
  transition: 0.6s;
  opacity: 1;
  z-index: 2;

  .registerModalContent {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    pointer-events: all;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 480px;
    height: 390px;
    border-radius: 10px;
    border: 1px #fff solid;

    box-shadow:
    0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;

    .registerTitleBlock {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-top: 20px;

      .registerTitle {
        font-size: 24px;
        margin-left: 32px;
        color: #000;
      }
      .registerModalClose {
        color: #c42525;
        text-decoration: none;
        height: 30px;
        margin-right: 32px;
        font-size: 27px;
        cursor: pointer;
      }
    }

    .registerLoginBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      .registerLabel {
        margin-left: 0px;
        font-size: 12px;
        color: #404040;
        font-weight: 600;
        margin-bottom: 3px;
      }
            
      .registerInput {
        width: 416px;
        height: 40px;
        border-radius: 5px;
        background-color: #ebebeb;
        color: #000;
        border: 1px #999999 solid;
      }
    }


    .registerContinueBlock {
      margin-top: 20px;

      .registerContinueInput {
        width: 320px;
        padding: 8px 0px 8px 0px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        background-color: #FA5252;
        cursor: pointer;
      }
    }
  

    .registerRedirectBlock {
      display: flex;
      justify-content: space-around;

      .registerBackLabel {
        margin-top: 20px;
        font-size: 12px;
        color: #000;
        font-weight: 600;
        margin-bottom: 3px;
  
        .registerQue {
          margin-left: 10px;
          text-decoration: none;
          color:royalblue;
          cursor: pointer;
  
        }
        .registerQue:hover {
          border-bottom: 1px solid;
          color:royalblue;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .active {
    position: fixed;

    .entryModalContent {
      width: 80%;

      .entryEmailInput {
        width: 80%;
      }
      .enrtyPasswordInut {
        width: 80%;
      }
      .entryContinueInput {
        width: 80%;
        margin-left: 34px;
      }
    }
  }
}