.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.1);
  z-index: 1;
  width: 100vw;
  height: 100vh;

  .drawer {    
    position: absolute;
    width: 385px;
    height: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: -10px 4px 24px rgba(0,0,0,0.1);

    .drawerContent {
      display: flex;
      flex-direction: column;
      margin: 30px;

      .drawerTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .drawerTitle {
          font-size: 24px;

        }
        .drawerDart {
          font-size: 20px;
          cursor: pointer;
        }
        .drawerDart:hover {
          color: red;
        }
      }
  
      .drawerList {
        display: flex;
        justify-content: center;
        overflow-y: auto;
      }
    }
  }
}