.logoImageBlock {
  margin-top: 40px;

  .logoImageBlockContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logoImageContainer {
      
      .logoImage {
        width: 960px;
        height: 300px;
        border-radius: 20px;
      }
    }

    .logoSearchContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      margin-top: 20px;

      .logoSearchTitle {
        font-size: 24px;
      }

      .logoSearchInput {
        width: 200px;
        height: 40px;
        border-radius: 20px;
        padding: 5px;
        border: 1px solid #808080;
        font-size: 16px;
      }
    }
  }
}