* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

html, body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
}
li {
  list-style: none;
}